# Use postgres/example user/password credentials

services:

  db:
    image: postgres:13
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER:
      POSTGRES_PASSWORD:

    volumes:
      - db-data:/var/lib/postgresql/data

    ports:
      - 5432:5432

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  app:
    build: .
    environment:
      - DATABASE_ENGINE=postgresql+psycopg2://${POSTGRES_USER?}:${POSTGRES_PASSWORD?}@db:5432/${POSTGRES_USER?}
    ports:
      - 8002:80
    depends_on:
      - db

volumes:
  db-data:

